<div class="flex h-screen bg-[#F0F2F5] font-sans">
    <!-- Sidebar -->
    <app-sidebar class="z-20 shadow-[4px_0_24px_rgba(0,0,0,0.02)]"></app-sidebar>

    <!-- Main Content -->
    <div class="flex-1 flex flex-col overflow-hidden relative">
        <!-- Decorative Background Blob (Optional) -->
        <div
            class="absolute top-0 right-0 w-[500px] h-[500px] bg-orange-100/40 blur-3xl rounded-full -translate-y-1/2 translate-x-1/2 pointer-events-none">
        </div>

        <main class="flex-1 overflow-x-hidden overflow-y-auto p-8 relative z-10">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>